{
  "service": {
    "id": "{{ item.name }}-{{ ansible_hostname }}",
    "name": "{{ item.name }}",
    "tags": {{ tags | to_json }},
    "meta": {
      "proxmox_node": "{{ node }}",
      "vmid": "{{ vmid }}"
    },
    "port": {{ item.port }},
    "check": {
      "tcp": "localhost:{{ item.port }}",
      "interval": "10s"
    }
  }
}
