{
  "service": {
    "name": "{{ item.name }}",
    "port": {{ item.port }},
    "token": "{{ item.token }}",
    "check": {
      "id": "{{ item.name }}-check",
      "name": "{{ item.name }} Health Check",
      "tcp": "localhost:{{ item.port }}",
      "interval": "10s",
      "timeout": "2s"
    }
  }
}
